:root {
  --primary-text-color: #fff;
  --secondary-button-color: #F5BD2D;
  --primary-bg-color: linear-gradient(286.93deg, #080B44 6.11%, #1A1D60 98.56%);
  --bg-shape-lg-blue: linear-gradient(322.72deg, #2718CA 11.72%, #4584E1 84.11%);
  --bg-shape-lg-orange: linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
  --primary-linear-color:linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin-inline: auto;
}

.my-200 {
  margin-block: 200px;
}

@media (max-width: 768px) {
  .my-200 {
    margin-block: 74px;
  }
}

.px-30 {
  padding-inline: 30px;
}

.large-container {
  max-width: 1700px;
}

.medium-container {
  max-width: 1424px;
}

.small-container {
  max-width: 333px;
}

.cursor-pointer {
  cursor: pointer;
}

.h1 {
  font-size: 72px;
  line-height: 84.38px;
}

@media (max-width: 1440px) {
  .h1 {
    font-size: 50px;
  }
}

.h2 {
  font-size: 64px;
  line-height: 75px;
}

.h3{
  font-size: 56px;
  line-height: 65.63px;
}

@media (max-width: 1440px) {
  .h3 {
    font-size: 48px;
  }
}

.h4 {
  font-size: 28px;
  line-height: 32.81px;
}

.p {
  font-size: 16px;
  line-height: 17.25px;
}

.font-large {
  font-size: 30px;
  line-height: 35.16px;
}

@media (max-width: 1440px) {
  .font-large {
    font-size: 24px;
  }
}

.capitalize {
text-transform: capitalize;
}

.font-medium {
  font-size: 24px;
  line-height: 28.13px;
}

.font-small {
  font-size: 20px;
  line-height: 23.44px;
}

@media (max-width: 1440px) {
  .font-small {
    font-size: 18px;
  }
}

.link-text {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.text-black {
  color: rgb(0, 0, 0 ) !important;
}

/*  buttons */
.button {
  padding: 9px 28px;
  border-radius: 25px;
  color: var(--primary-text-color);
}

.primary-button {
  background: var(--primary-linear-color);
}

.secondary-button {
  background-color: var(--secondary-button-color);
}

.border-none {
  border: none;
}

.background-transparent {
  background-color: transparent;
}

.shape-small {
  width: 29px;
  height: 29px;
}

.rounded-full {
  border-radius: 50%;
}

.blur {
  filter: blur(10px);
}

.shape-orange {
  background: var(--bg-shape-lg-orange);
}

.shape-blue {
  background: var(--bg-shape-lg-blue);
}

.overflow-hidden {
  overflow: hidden;
}

/* highlighted text */

.highlighted-text {
  background-image: var(--primary-linear-color);
  -webkit-background-clip: text;
  color: transparent;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

body {
  max-width: 1920px;
  color: var(--primary-text-color);
  font-family: "Gilroy";
}

.main {
  background: var(--primary-bg-color);
  padding-bottom: 34px;
}

@media (max-width: 768px) {
  .main {
    text-align: center;
  }
}

.nav-links-list {
  list-style: none;
  gap: 74px;
}

/* M O B I L E   M E N U */

.hamburger-menu-label {
  gap: 8.5px;
  width: max-content;
}

.hamburger-menu-checkbox{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  pointer-events: none;
}

.hamburger-menu-checkbox,
.hamburger-menu-label::before,
.hamburger-menu-label::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  transform-origin: left center;
  transition: width 0.3s, opacity 0.3s, rotate 0.3s, translte 0.3s;
}

.hamburger-menu-checkbox:checked {
  opacity: 0;
  width: 0;
}

.mobile-menu {
  display: none;
}

.hamburger-menu-label:has(input:checked)::before {
  rotate: 45deg;
  background-color: #000;
}

.hamburger-menu-label:has(input:checked)::after {
  rotate: -45deg;
  translate: 0 -5px;
  background-color: #000;
}

@media (max-width: 992px) {

  .nav-buttons {
    display: none;
  }

  .hamburger-menu-label {
    display: flex;
  }

  .hamburger-menu-checkbox:checked ~ .nav-links-list{
    display: block;
  }

  .nav-links-list {
    display: none;
    /* flex-direction: column; */
  }

}

.nav-links-list a {
  padding-bottom: 2px;
}

.nav-links-list a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
}

.nav-links-list a:hover:after {
  width: 100%;
}


/* Header */

.header-bg-shape {
  top: -100px;
  right: 250px;
}

.header-heading_text {
  max-width: 790px;
}

@media (max-width: 1440px) {
  .header-heading_text {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .header-heading_text {
    font-size: 48px;
    line-height: 55px;
    margin: 0 auto;
  }
}

.heading-paragraph {
  margin: 18px auto 53px 0;
  max-width: 1067px;
}

@media (max-width: 1440px) {
  .heading-paragraph {
    max-width: 850px;
  }
}

.heading-button {
  padding: 18px 56px;
  border-radius: 65px;
}

/* widgets */

.widgets-main-bg-shape {
  width: 498px;
  height: 498px;
  right: -200px;
  top: -350px;
}

.widget-bg-shape-blue {
  top: -55px;
  left: 415px;
}

.widget-bg-shape-orange {
  bottom: 67px;
  right: 166px;
}

.widgets-paragraph {
  max-width: 817px;
  margin: 18px auto 84px auto;
}

.widgets-list {
  gap: 76px 184px;
}

@media (max-width: 992px) {
  .widgets-list {
    flex-direction: column;
    align-items: center;
  }

  .widget {
    max-width: 400px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 75px;
  }
}

.widget {
  gap: 20px;
}

.blur-bg-container {
  padding: 100px;
  background: linear-gradient(103.46deg, rgba(37, 37, 37, 0.28) 11.66%, rgba(84, 84, 84, 0.17) 87.59%);
  box-shadow: 0px 0px 10px 0px #0000001A;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
}

@media (max-width: 768px) {
  .blur-bg-container {
    margin-block: 120px;
  }
}

.widgets-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 29px;
}

.widgets-icon1 {
  background: var(--primary-linear-color);
  left: 36px;
}

.widgets-icon2 {
  background: linear-gradient(286.93deg, #11B418 6.11%, #0FD55E 98.56%);
  left: 61px;
}

.widgets-icon3 {
  background: linear-gradient(322.72deg, #2718CA 11.72%, #4584E1 84.11%);
  left: 86px;
}

/* Smart Responsive Tools */

.tools-main-bg-shape {
  width: 285px;
  height: 285px;
  left: -200px;
}

.tools-bg-shape-blue-top {
  left: 120px;
  top: -60px;
}

.tools-bg-shape-blue-bottom {
  right: 400px;
  bottom: -100px;
}

.tools-paragraph {
  margin: 18px auto 81px auto;
}

.tools-cards {
  gap: 70px 149px;
}

@media (max-width: 1440px) {
  .tools-cards {
    justify-content: center;
  }
}

.tools-cards .h4 {
  max-width: 268px;
  margin: 0 34px 18px 34px;
}


/* CTA */

@media (max-width: 768px) {
  .cta .medium-container {
    margin: 203px auto 240px auto;
  }
}

.cta-main-bg-shape {
  width: 177px;
  height: 177px;
  right: -70px;
  bottom: -30px;
}

.cta-bg-shape-blue {
  bottom: -60px;
  left: 380px;
}

.cta-paragraph {
  margin: 18px auto 66px auto;
}

.cta-button {
  padding: 18px 95px;
}

/* NewsLetter */

.newsletter-main-shape {
  width: 404px;
  height: 404px;
  left: -200px;
  bottom: -90px;
}

.newsletter-bg-shape-blue { 
  width: 38px;
  height: 38px;
  top: 100px;
  right: 250px;
}

.newsletter .medium-container {
  padding-block: 134px;
}

.newsletter-paragraph {
  margin: 18px auto 44px auto;
  max-width: 709px;
} 

.newsletter input[type='email'] {
  width: 100%;
  max-width: 766px;
  padding: 21px 30px;
  border-radius: 106px;
  border: 1px solid #ececee;
}

@media (max-width: 768px) {
  .newsletter input[type="text"] {
    padding: 16px;
  }
}

.newsletter input[type="text"]::placeholder {
  color: #B1B1B1;
}

.newsletter input[type='button'] {
  padding: 20px 42px;
  border-radius: 38px;
  background-color: #000;
  color: var(--primary-text-color);
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .newsletter input[type='button'] {
    padding: 15px 19px;
  }
}

.newsletter form {
  max-width: 766px;
}

/* Footer */

.footer {
  background-color: #000;
  padding: 90px 0 47px 0;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 122px;
  }  

  .footer-links {
    flex-direction: column;
    gap: 103px;
  }
}

.footer-links h5 {
  margin-bottom: 35px;
}

.footer-link-items {
  gap: 30px;
}

.footer-link-items li {
  list-style: none;
}

.footer-link-items a {
  padding-bottom: 2px;
}

.footer-link-items a::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: width 0.3s;
}

.footer-link-items a:hover::after {
  width: 100%;
}

.footer-link-items .google-map {
  max-width: 298px;
  height: 173px;
}

.footer-copyright {
  margin-top: 93px;
}