* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #fff;
  --secondary-button-color: #F5BD2D;
  --primary-bg-color: linear-gradient(286.93deg, #080B44 6.11%, #1A1D60 98.56%);
  --bg-shape-lg-blue: linear-gradient(322.72deg, #2718CA 11.72%, #4584E1 84.11%);
  --bg-shape-lg-orange: linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
  --primary-linear-color:linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
  --shape-small-width: 29px;
  --shape-small-height: 29px;
  --padding-inline-sm: 30px;
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 700;
}

.shape {
  border-radius: 50%;
  position: absolute;
}

.shape-blur {
  filter: blur(10px);
  border-radius: 50%;
  position: absolute;
}

.button {
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: var(--primary-text-color);
  border: 1px solid transparent;
  transition: all 0.5s;
}

.button-solid { 
  background-image: var(--primary-linear-color);
  background-size: 200%;
}

.button-solid:hover { 
  background-position: 100%;
  transition: all 1s ease-in-out;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  border: 1px solid #fff;
}

.button-yellow {
  color: #000 !important;
  font-weight: 700;
  background-color: var(--secondary-button-color);
}

.button-yellow:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff !important;
  transition: all .7s;
}

.button-black {
  background-color: #000;
}

.button-black:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

.link-list {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
  list-style: none;
}

.link-list li {
  list-style: none;
}

.link-list a {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 4px;
}

.link-list a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
}

.link-list a:hover:after {
  width: 100%;
}

.h1 {
  font-size: 72px;
  line-height: 84.38px;
}

@media (max-width: 1440px) {
  .h1 {
    font-size: 50px;
  }
}

.h2 {
  font-size: 64px;
  line-height: 75px;
}

.h3{
  font-size: 56px;
  line-height: 65.63px;
}

@media (max-width: 1440px) {
  .h3 {
    font-size: 48px;
  }
}

.h4 {
  font-size: 28px;
  line-height: 32.81px;
}

.p {
  font-size: 16px;
  line-height: 17.25px;
}

.font-large {
  font-size: 30px;
  line-height: 35.16px;
}

@media (max-width: 1440px) {
  .font-large {
    font-size: 24px;
  }
}

.font-medium {
  font-size: 24px;
  line-height: 28.13px;
}

.shape-small {
  width: var(--shape-small-width);
  height: var(--shape-small-height);
}

.shape-orange {
  background: var(--bg-shape-lg-orange);
}

.shape-blue {
  background: var(--bg-shape-lg-blue);
}

.highlighted-text {
  background-image: var(--primary-linear-color);
  -webkit-background-clip: text;
  color: transparent;
}

.hamburger-menu_label {
  width: max-content;
  cursor: pointer;
}

.hamburger-menu-line {
  height: 3px;
  width: 25px;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger-menu-checkbox{
  appearance: none;
}

.mobile-menu_copyright,
.hamburger-menu-checkbox,
.hamburger-menu_label {
  display: none;
}

.hamburger-menu-checkbox:checked + label .hamburger-menu-line:first-child {
  background-color: #000;
  transform: rotate(45deg) translate(0, 12px);
}

.hamburger-menu-checkbox:checked + label .hamburger-menu-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu-checkbox:checked + label .hamburger-menu-line:last-child {
  background-color: #000;
  transform: rotate(-45deg) translate(3px, -16px);
}

@media (max-width: 992px) {
  .navbar-buttons {
    display: none;
  }

  .hamburger-menu_label {
    display: flex;
    gap: 8.5px;
    z-index: 999;
    flex-direction: column;
  }

  .hamburger-menu {
    right: 5px;
  }

  .hamburger-menu-checkbox:checked ~ .mobile-menu{
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }

  .hamburger-menu-checkbox:checked ~ .navbar-brand {
    z-index: 999;
    border: 1px solid red;
  }

  .navbar-brand {
    z-index: 999;
  }

  .navbar-brand:after {
    content: "";
    width: 0;
  }

  .navbar .link-list {
    gap: 60px;
    font-size: 36px;
    font-weight: 700;
    flex-direction: column;
  }

  .mobile-menu {
    top: 0;
    left: 0;
    gap: 24px;
    opacity: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    color: #000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s, opacity 0.3s;
  }

  .mobile-menu_copyright {
    bottom: 0;
    width: 100%;
    display: block;
    font-size: 14px;
    position: fixed;
    text-align: center;
    padding-block: 31px;
    background-color: #FAFAFA;
  }
}

.navbar {
  margin: 0 auto;
  padding: 6px 30px 5px 30px;
  max-width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  transition: transform 0.3s;
  position: relative;
}

.navbar .link-list {
  gap: 74px;
}

.navbar .button-solid {
  padding: 9px 28px;
  border-radius: 24.5px;
}

.navbar .button-transparent {
  padding: 9px 28px;
  border-radius: 24.5px;
}

body {
  font-family: "Gilroy";
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  color: var(--primary-text-color);
}

.main {
  background: var(--primary-bg-color);
  padding-bottom: 34px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main {
    text-align: center;
  }
}

.hero {
  padding-inline: 30px;
}

.hero-text {
  max-width: 1424px;
  margin: 200px auto;
  position: relative;
}

.hero-heading {
  max-width: 790px;
}

.hero-paragraph {
  margin: 18px auto 53px 0;
  max-width: 1067px;
}

.hero .button-solid {
  padding: 18px 56px;
  border-radius: 65px;
}

.hero-bg-shape {
  top: -100px;
  right: 250px;
}

@media (max-width: 1440px) {
  .hero-heading {
    max-width: 600px;
  }

  .hero-paragraph {
    max-width: 850px;
  }

  .hero-heading {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero-heading {
    font-size: 48px;
    line-height: 55px;
    margin: 0 auto;
  }

  .hero-text {
    margin: 100px auto;
  }

  .hero-bg-shape {
    top: -60px;
    left: 50px;
  }
}

@media (max-width: 576px) {
  .hero .h1 {
    max-width: 324px;
    margin-bottom: 23px;
  }

  .hero .small-text {
    font-size: 36px;
  }
}

.widgets {
  position: relative;
}

.widgets-main-shape-blue {
  width: 498px;
  height: 498px;
  right: -200px;
  top: -350px;
}

.widgets-bg-shape-blue {
  top: -55px;
  left: 415px;
}

.widgets-bg-shape-orange {
  bottom: 67px;
  right: 166px;
}

.widgets-main-shape-orange {
  width: 285px;
  height: 285px;
  left: -200px;
  bottom: -450px;
}

.widgets-container {
  max-width: 1424px;
  position: relative;
  margin: 200px auto;
  padding-inline: 30px;
  text-align: center;
}

.widgets-paragraph {
  max-width: 817px;
  margin: 18px auto 84px auto;
  text-align: center;
  font-size: 24px;
  line-height: 28.13px;
}

.widgets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 81px 186px;
}

.widget {
  max-width: 333px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.widget-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}

.widgets-blur_container{
  padding: 107px;
  background: linear-gradient(103.46deg, rgba(37, 37, 37, 0.28) 11.66%, rgba(84, 84, 84, 0.17) 87.59%);
  box-shadow: 0px 0px 10px 0px #0000001A;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  overflow: hidden;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
}

.widgets-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 29px;
  position: absolute;
}

.icon-cross {
  background: var(--primary-linear-color);
  left: 36px;
}

.icon-minimize {
  background: linear-gradient(286.93deg, #11B418 6.11%, #0FD55E 98.56%);
  left: 61px;
}

.icon-maximize {
  background: linear-gradient(322.72deg, #2718CA 11.72%, #4584E1 84.11%);
  left: 86px;
}

@media (max-width: 1440px) {
  .widgets-main-shape-blue {
    width: 400px;
    height: 400px;
    top: -250px;
  }
}

@media (max-width: 992px) {
  .widgets-main-shape-orange {
    width: 202px;
    height: 202px;
    left: -120px;
    bottom: -270px;
  }

  .widgets-list {
    flex-direction: column;
    align-items: center;
  }

  .widget {
    max-width: 400px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }
}

@media (max-width: 768px) {

  .widgets-container {
    margin: 150px auto;
  }

  .widgets-blur_container {
    padding: 107px 10px;
  }

  .widgets-main-shape-blue {
    width: 250px;
    height: 250px;
    top: -100px;
    right: -130px;
  }

  .widgets-bg-shape-orange,
  .widgets-bg-shape-blue {
    display: none;
  }

  .widgets-main-shape-orange {
    width: 202px;
    height: 202px;
    left: -110px;
    bottom: -120px;
  }
}

.tools-container {
  max-width: 1424px;
  margin: 200px auto;
  padding-inline: 30px;
  text-align: center;
  position: relative;
}

.tools-bg-shape-blue-bottom {
  right: 400px;
  bottom: -100px;
}

.tool-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 70px 149px;
}

.tool-card {
  max-width: 333px;
}

.tools .h3 {
  font-weight: 700;
}

.tool-cards .h4 {
  max-width: 268px;
  margin: 0 34px 18px 34px;
  font-weight: 700;
}

.tools-paragraph {
  margin: 18px auto 81px auto;
  font-weight: 400;
}

.tools-bg-shape-blue-top {
  left: 120px;
  top: -60px;
}

@media (max-width: 1440px) {
  .tool-cards {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .tool-cards {
    flex-direction: column;
    align-items: center;
  }

  .tool-cards .h4 {
    margin: 20px auto;
    max-width: 500px;
  }
} 

@media (max-width: 768px) {
  .tools-paragraph {
    margin-bottom: 120px;
  }
}

@media (max-width: 576px) {
  .tools-bg-shape-blue-top {
    top: 250px;
    left: 400px;
  }

  .tools-bg-shape-blue-bottom  {
    left: 70px;
  }
}

@media (max-width: 470px) {
  .tools-bg-shape-blue-top {
    top: 350px;
    left: 350px;
  }
}

.cta-container {
  max-width: 1424px;
  margin: 200px auto;
  text-align: center;
  position: relative;
  padding-inline: 30px;
}

.cta .button-yellow {
  padding: 18px 95px;
  border-radius: 57px;
}

.cta-main-bg-shape {
  width: 177px;
  height: 177px;
  right: -70px;
  bottom: -30px;
}

.cta-bg-shape-blue {
  bottom: -100px;
  left: 380px;
}

.cta-paragraph {
  margin: 18px auto 70px auto;
}

.cta-button {
  padding: 18px 95px;
}

@media (max-width: 768px) {
  .cta-bg-shape-blue {
    display: none;
  }
}

.newsletter {
  position: relative;
  overflow: hidden;
}

.newsletter-container {
  text-align: center;
  color: #000;
  max-width: 1424px;
  margin: 200px auto;
  padding-inline: 30px;
}

.newsletter-main-shape {
  width: 404px;
  height: 404px;
  left: -200px;
  bottom: -90px;
}

.newsletter-bg-shape-blue { 
  width: 38px;
  height: 38px;
  top: 100px;
  right: 250px;
}

.newsletter-paragraph {
  margin: 18px auto 44px auto;
  max-width: 709px;
  font-size: 24px;
  line-height: 28.13px;
} 

.newsletter-form {
  max-width: 766px;
  position: relative;
  margin: 0 auto;
}

.newsletter-form_input {
  width: 100%;
  max-width: 766px;
  padding: 21px 30px;
  border-radius: 106px;
  border: 1px solid #ececee;
  cursor: pointer;
}

.newsletter-form_input::placeholder {
  color: #B1B1B1;
}

.newsletter-form_button {
  cursor: pointer;
  font-size: 24px;
  padding: 15px 42px;
  border-radius: 38px;
  line-height: 28.13px;
  background-color: #000;
  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1440px) {
  .newsletter-main-shape {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 1024px ) {
  .newsletter-main-shape {
    width:255px;
    height: 255px;
    bottom: -100px;
    left: -150px;
  }
}

@media (max-width: 992px) {
  .newsletter-bg-shape-blue { 
    top: 70px;
    left: 250px;
    width: var(--shape-small-width);
    height: var(--shape-small-height);
  }
}

@media (max-width: 768px) {
  .newsletter-container {
    margin: 9px auto;
  }

  .newsletter  {
    padding: 180px 0 230px 0 ;
  }

  .newsletter-main-shape {
    width: 250px;
    height: 250px;
  }

  .newsletter-form_input {
    padding: 16px;
  }

  .newsletter-form_button {
    padding: 10px 18px;
  }
}

@media (max-width: 576px) {
  .newsletter-bg-shape-blue { 
    left: 120px;
  }
}

.footer {
  background-color: #000;
  padding: 90px 0 47px 0;
}

.footer-container {
  max-width: 1424px;
  margin-inline: auto;
  padding-inline: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-links h5 {
  font-size: 24px;
  margin-bottom: 35px;
  line-height: 28.13px;
  text-transform: capitalize;
}

.footer .link-list {
  gap: 30px;
  align-items: start;
  font-weight: 400;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer a {
  position: relative;
}

.footer-links .google-map {
  max-width: 298px;
  height: 173px;
}

.footer-copyright {
  margin-top: 93px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 122px 0 32px 0;
  }  

  .footer-container {
    flex-direction: column;
    gap: 103px;
  }

  .footer .link-list {
    flex-direction: column;
    gap: 30px;
  }

  .footer-google-map_li {
    width: calc(100% + 60px);
    margin-left: -30px;
    height: 251px;
  }

  .footer-links .google-map {
    width: 100%;
    height: 251px;
    max-width: 100%;
  } 

  .footer-copyright {
    margin-top: 32px ;
  }
}
